<section id="home"><app-hero></app-hero></section>
@defer (on viewport) {
<app-stats></app-stats>
} @placeholder {
<div style="height: 100px;"></div>
}

@defer (on viewport) {
<section id="about"><app-about></app-about></section>
} @placeholder {
<div style="height: 400px;"></div>
}

@defer (on viewport) {
<app-why-it></app-why-it>
} @placeholder {
<div style="height: 400px;"></div>
}

@defer (on viewport) {
<app-brands></app-brands>
} @placeholder {
<div style="height: 200px;"></div>
}

@defer (on viewport) {
<app-services></app-services>
} @placeholder {
<div style="height: 400px;"></div>
}

@defer (on viewport) {
<app-coverage></app-coverage>
} @placeholder {
<div style="height: 400px;"></div>
}

@defer (on viewport) {
<app-clients></app-clients>
} @placeholder {
<div style="height: 200px;"></div>
}

@defer (on viewport) {
<section id="faq"><app-faq></app-faq></section>
} @placeholder {
<div style="height: 400px;"></div>
}

@defer (on viewport) {
<section id="contact"><app-distributor-form></app-distributor-form></section>
} @placeholder {
<div style="height: 400px;"></div>
}

@defer (on viewport) {
<section id="resources"><app-resources></app-resources></section>
} @placeholder {
<div style="height: 400px;"></div>
}

@defer (on viewport) {
<app-cta></app-cta>
} @placeholder {
<div style="height: 200px;"></div>
}