<section id="home"><app-hero></app-hero></section>
@defer (on viewport) {
<app-stats></app-stats>
} @placeholder {
<div style="height: 100px;"></div>
}

<section id="about">
    @defer (on viewport) {
    <app-about></app-about>
    } @placeholder {
    <div style="height: 400px;"></div>
    }
</section>

@defer (on viewport) {
<app-why-it></app-why-it>
} @placeholder {
<div style="height: 400px;"></div>
}

@defer (on viewport) {
<app-brands></app-brands>
} @placeholder {
<div style="height: 200px;"></div>
}

@defer (on viewport) {
<app-services></app-services>
} @placeholder {
<div style="height: 400px;"></div>
}

@defer (on viewport) {
<app-coverage></app-coverage>
} @placeholder {
<div style="height: 400px;"></div>
}

@defer (on viewport) {
<app-clients></app-clients>
} @placeholder {
<div style="height: 200px;"></div>
}

<section id="faq">
    @defer (on viewport) {
    <app-faq></app-faq>
    } @placeholder {
    <div style="height: 400px;"></div>
    }
</section>

<section id="contact">
    @defer (on viewport) {
    <app-distributor-form></app-distributor-form>
    } @placeholder {
    <div style="height: 400px;"></div>
    }
</section>

<section id="resources">
    @defer (on viewport) {
    <app-resources></app-resources>
    } @placeholder {
    <div style="height: 400px;"></div>
    }
</section>

@defer (on viewport) {
<app-cta></app-cta>
} @placeholder {
<div style="height: 200px;"></div>
}