/* Hide Spinners for Clean Alignment */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* 3-Way Input Group Styles */
.group\/margin input:focus~span,
.group\/markup input:focus~span,
.group\/profit input:focus~span {
    color: white;
}